DEBUG=True
SECRET_KEY=django-insecure-smart-maktab-production-key-change-this-in-production-12345
ALLOWED_HOSTS=127.0.0.1,localhost,testserver
TELEGRAM_BOT_TOKEN=8800875997:AAFKH7up93mDrhgT6xMa2Dsitktp8jEwPUc
